/* Universal Styles */
body {
  font-family: "Roboto Mono", monospace;
  background-color: white;
  color: black;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
  padding: 0.25rem;
  margin: 10px 20px;
}

h3 {
  margin: 10px 20px;
}

p {
  margin: 8px 20px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: block;
  margin: 0 10%;
}

/* Head section */

header {
  align-items: center;
  background-color: #929292;
  color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

header h1 {
  margin: 0;
  padding: 10px;
}

header ul {
  font-size: 16px;
  padding: 0;
  text-transform: uppercase;
}

header li {
  display: inline-block;
}

header a {
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Box Styles */

section {
  border: 2px solid #929292;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 1.5rem 0;
  text-align: left;
}

.container-head {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}

.container-head p {
  margin: 0 20px;
}

.box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  margin: 20px 0.75rem;
}

/* Color section */

.color-box {
  align-items: center;
  border: 1px solid #f1f1f1;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-weight: bold;
  font-size: 1.25rem;
  justify-content: center;
  margin: 1rem 0.75rem;
  min-width: 125px;
  max-width: 250px;
  padding: 1.25rem;
  width: 32%;
  text-align: center;
  text-shadow: 1px 1px black;
}

.light-pink {
  background-color: #ffd6ff;
}

.pink {
  background-color: #e7c6ff;
}

.plum {
  background-color: #c8b6ff;
}

.slate-blue {
  background-color: #b8c0ff;
}

.light-blue {
  background-color: #bbd0ff;
}

/* Fonts section */
.font-box {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.75rem;
  min-width: 300px;
  min-height: 150px;
  max-width: 450px;
  max-height: 300px;
  justify-content: center;
  align-items: left;
  font-weight: normal;
  font-size: 1.25rem;
  flex-grow: 1;
}

.font-box h3 {
  font-size: 1.5rem;
  font-weight: normal;
  text-decoration: underline;
}

.font-box p {
  display: block;
}

.regular {
  font-style: normal;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.pt-sans {
  font-family: "PT Sans", sans-serif;
}

.source-sans {
  font-family: "Source Sans Pro", sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

/* Text Styles section */

.text-box {
  display: flex;
  flex-direction: row;
  margin: 1rem 0.75rem;
  min-width: 300px;
  min-height: 150px;
  max-width: 450px;
  max-height: 600px;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: normal;
  font-size: 1.25rem;
  flex-grow: 1;
}

.text-box h1 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.text-box h2 {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.text-box p {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.text-box ul {
  display: block;
  list-style-type: disc;
}

.text-box li {
  display: list-item;
}
